@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family:  'Kodchasan', sans-serif; ;
}

body, html {
    width: 100%;
    height: 100%;
}

#out-menu {
    display: flex;
    position: absolute;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
}


.botao {
    background-color: transparent;
    border: none;
    margin-left: 60px;
    
 
}

.botao:focus {
    background-color:  rgba(34, 156, 242, 1);;
    color: white;


}

