/*Telas super pequenas*/
@media (min-width:200px) and (max-width:549px){
    body{
        background-color: rgba(34, 156, 242, 1);
    }
    
    #imgout {
        display: none;
    }

    #imgmobile {
        position: absolute;
        width: 50%;
        height: 20%;
        left: 0;
        top: 30%;
        left: -4%;
    }

    #img_girl2 {
        width: 100%;
        height: 100%;
    }

    #div_login {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    
    #formlogin {
        
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #title{
        font-size:xx-large;
        font: bold;
        font-weight: bolder;
        color: white;
    
    }
    
    #out-inputs {
        display: flex;
        flex-direction: column;
        padding: 50px;
        gap: 2em;
    }
    
    .mb-3 {
        width: 70vw;
    }
    
    input {
        width: 100%;
    }
    
    #form-text {
        color: white;
    
    }
    
    a {
        color: white;
    }
    
}

/*Celulares mais comuns com resoluções parecidas*/
@media(min-width:550px) and (max-width:799px){
    body {
        display: flex;
        padding: 0;
        margin: 0 auto;
        box-sizing: border-box;
        background-color: rgba(34, 156, 242, 1);
    }

    #imgmobile {
        display: none;   
    }
    
    #imgout {
        position: static;
        display: flex;
        align-items:end;
        justify-content: center;
        width: 50%;
        height: 110vh;
        bottom: 0;
    
    }
    
    #img_girl {
        width: 100%;
        height: 100%;
    }
    
    #div_login {
        position: absolute;
        width: 50%;
        left: 50%;
        height: 100%;
        display: flex;
        right: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    
    #formlogin {
        
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #title{
        font-size:xx-large;
        font: bold;
        font-weight: bolder;
        color: white;
    
    }
    
    #out-inputs {
        display: flex;
        flex-direction: column;
        padding: 50px;
        gap: 2em;
    }
    
    .mb-3 {
        width: 40vw;
    }
    
    input {
        width: 100%;
    }
    
    #form-text {
        color: white;
    
    }
    
    a {
        color: white;
    }
    
    
}




/*Monitores*/
@media (min-width:800px) {
    body {
        display: flex;
        padding: 0;
        margin: 0 auto;
        box-sizing: border-box;
        background-color: rgba(34, 156, 242, 1);
    }

    #imgmobile {
        display: none;   
    }
    
    #imgout {
        position: absolute;
        display: flex;
        align-items:end;
        justify-content: center;
        width: 50%;
        height: 103vh;
        background-color: white;
    
    }
    
    #img_girl {
        width: 65%;
        height: 100%;
    }
    
    #div_login {
        position: absolute;
        width: 50%;
        left: 50%;
        height: 100%;
        display: flex;
        right: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #formlogin {
        
        width: 400px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #title{
        font-size:xx-large;
        font: bold;
        font-weight: bolder;
        color: white;
    
    }
    
    #out-inputs {
        display: flex;
        flex-direction: column;
        padding: 50px;
        gap: 2em;
    }
    
    .mb-3 {
        width: 350px;
    }
    
    input {
        width: 100%;
    }
    
    #form-text {
        color: white;
    
    }
    
    a {
        color: white;
    }
    
    
    
}

