@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@500&display=swap');

body {
    display: flex;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

#imgout {
    position: absolute;
    display: flex;
    align-items:end;
    justify-content: center;
    width: 50%;
  
    height: 100%;
 

}

#img_girl {
    width: 60%;
    height: 90%;
    top: 10%;
  

}

#div_login {
    position: absolute;
    width: 50%;
    left: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 156, 242, 1);
}

#formlogin {
    
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title{
    font-size:xx-large;
    font: bold;
    font-weight: bolder;
    font-family:  'Kodchasan', sans-serif;
    color: white;

}

#out-inputs {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 2em;
}

.mb-3 {
    width: 350px;
}

input {
    width: 100%;
}

.btn btn-primary {
    

}

#form-text {
    color: white;

}

a {

    color: white;
}


