@media (min-width:200px) and (max-width:400px){
    
    
    main {
        width: 100%;
        height: 115vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    
    #text {
        width: 100%;
        height: 50% ;
        margin-top: 50px;
    }
    
    p {
        text-align: justify;
        font-size: 19px;
        margin: 4px;
        padding: 10px;
    }
    
   
    
    #in_girl {
        display: none;
    
    }
    
    #video {
    width: 100%;
    height: 30vh;
    margin-top: 210px;
}

iframe {
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 5px;
}

h2 {
    border-bottom:  #007bff solid 5px;
}
p{
    text-align: justify;
}
    
}


@media(min-width:400px) and (max-width:950px){
    
    main {
        width: 100%;
        height: 120vh;
       
    }

    #out_girl {
        width: 80%;
        height: 25%;
    }
    
    #in_girl {
        display: none;
    
    }

    h2 {
        border-bottom:  #007bff solid 5px;
    }

    p{
        text-align: justify;
        margin: 4px;
        font-size: 19px;
        padding: 10px;
    }

    #text {
        margin-top: 50px;
        width: 90%;
        position: relative;
        left: 5%;
    }
    
    #video {
        width: 80%;
        height: 60vh;
        position:absolute;
        left: 10%;
        margin-top: 50px;
    
    }
    
    iframe {
        width: 100%;
        height: 100%;
        box-shadow: 2px 2px 2px 2px;
        border-radius: 5px;
    }

    

}


@media (min-width:950px) {


main {
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


h2 {
    border-bottom:  #007bff solid 5px;
}

p{
    text-align: justify;
}

#text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 39vw;
    height: 90% fit-content;
    margin-left: 40px;
    padding: 10px;
    overflow: auto;
    max-height: 90%;
}

p {
    line-height: 2.2rem;
    font-size: large;
    text-align: justify;
}

#out_girl {
    margin-top: 150px;
    width: 60vw;
    height: 100vh;
}

#in_girl {
    width: 100%;
    height: 100%;

}

#video {
    z-index: 1;
    width: 25vw;
    height: 30vh;
    position:absolute;
    top: 50%;
    left: 45%;

}

iframe {
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 5px;
}

}

